spring:
  datasource:
    url: jdbc:h2:file:./data/translationdb
    driverClassName: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.hibernate.SQL: debug

deepl:
  baseUrl: ${DEEPL_BASE_URL:https://api-free.deepl.com/v2}
  apiKey: ${DEEPL_API_KEY:da13e0ec-fce0-46c3-9b8d-863f66d30686:fx}
  timeoutMs: ${DEEPL_TIMEOUT_MS:8000}

